# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# database dependencies
scheduler-api-db-server/node_modules
scheduler-api-db-server/.DS_Store
scheduler-api-db-server/.env
scheduler-api-db-server/.env.development
scheduler-api-db-server/.env.test
scheduler-api-db-server/coverage

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
